html {
  width: 100%;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

ul.bulleted {
  list-style: none;
  padding-left: 1rem;
}

ul.bulleted li {
  list-style-position: outside;
  text-indent: -1em;
}

ul.bulleted li::before {
  color: #13912d;
  /* unicode for a bullet */
  content: "\2022";
  font-size: 1.75rem;
  padding-right: .5rem;
  position: relative;
  top: .25rem;
}

@media only screen and (max-width: 40rem) {
  .grid-container {
    margin: 0;
    padding: 0;
  }
}
