ul {
  list-style: none;
  padding-left: 1rem;
}

ul li {
  list-style-position: outside;
  text-indent: -1em;
}

ul li::before {
  color: #13912d;
  /* unicode for a bullet */
  content: "\2022";
  font-size: 1.75rem;
  padding-right: .5rem;
  position: relative;
  top: .25rem;
}

@media only screen and (max-width: 40rem) {
  .grid-container {
    margin: 0;
    padding: 0;
  }
}
